.pos-topheader {
    background-color: #000080 !important;
}

.orderline {
    min-height: 79px;
    overflow: auto;
}

.orderline.selected {
    background-color: #000080 !important;
    color: white;
}

.orderline.selected.info-list {
    color: white !important;
}

.mode-button.selected-mode {
    background-color: #000080 !important;
}

.pos-branding img {
    display: none;
}

.pos-branding {
    background-image: url("/pos_custom/static/src/img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.price-tag {
    background-color: #000080 !important;
}

.product:hover {
    z-index: 2000000;
    transform: scale(1.4, 1.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-1 {
    float: left;
    padding: 5px;
}
.col-2 {
    padding: 10px;
}

.control-buttons {
    font-weight: bold;
    max-width: 50%;
}

.session-id {
    padding: 5px;
    text-align: center;
    font-style: italic;
    font-size: 1.5em;
}